<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh.user.dao.Dsys02_dsys03Mapper">
    <!-- 插入全部权限 -->
	<insert id="InZJB" parameterType="Dsys02_dsys03">
		INSERT INTO DSYS02_DSYS03
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="DSYS02_JFID != null and DSYS02_JFID !=''"> DSYS02_JFID,  </if>
			<if test="DSYS03_JFID != null and DSYS03_JFID !=''"> DSYS03_JFID,  </if>
			<if test="QX != null and QX !=''"> QX,  </if>
			<if test="BZ != null and BZ !=''"> BZ,  </if>
		</trim>
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="DSYS02_JFID != null and DSYS02_JFID !=''"> #{DSYS02_JFID,jdbcType=NUMERIC},    </if>
			<if test="DSYS03_JFID != null and DSYS03_JFID !=''"> #{DSYS03_JFID,jdbcType=NUMERIC},    </if>
			<if test="QX != null and QX !=''"> #{QX,jdbcType=CHAR},    </if>
			<if test="BZ != null and BZ !=''"> #{BZ,jdbcType=VARCHAR},    </if>
		</trim>
	</insert>
	<!-- 根据03id删除全部权限 -->
	<delete id="delByfatherId" parameterType="Integer">
	DELETE FROM DSYS02_DSYS03 WHERE DSYS03_JFID=#{0}
	</delete>
	<resultMap type="Integer" id="jflist">
	  <result property="DSYS02_JFID" column="DSYS02_JFID" />
	</resultMap>
	<!-- 根据03id获取全部集合 -->
	<select id="SelectByfather" parameterType="Integer" resultMap="jflist">
	SELECT DSYS02_JFID FROM DSYS02_DSYS03 WHERE QX='1' AND DSYS03_JFID=#{0}
	</select>
</mapper>