<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh.user.dao.DFW21Mapper">
	<!-- 根据组织查询返回集合 -->
	<resultMap type="DFW21" id="selall">
		<id property="JFID" column="JFID" />
		<result property="BT" column="BT" />
		<result property="NR" column="NR" />
		<result property="LRRY" column="LRRY" />
		<result property="LRRQ" column="LRRQ" />
		<result property="ZT" column="ZT" />
		<result property="SF_ALL" column="SF_ALL" />
	</resultMap>
	<!-- 根据条件获取集合 -->
	<select id="SelectAll" parameterType="map" resultMap="selall">
		SELECT * FROM (SELECT A1.*,ROWNUM RN FROM (
		SELECT
		D21.JFID,D21.BT,D21.NR,D21.LRRY,D21.LRRQ,D21_JS.ZT,D21.SF_ALL FROM DFW21
		D21,DFW21_JSR D21_JS WHERE D21.ZT=2
		AND D21.JFID=D21_JS.DFW21_JFID
		<if test="StarTime != null and StarTime !=''">
			AND D21.LRRQ>=to_date(#{StarTime},'yyyy-mm-dd')
		</if>
		<if test="EndTime != null and EndTime !=''">
			AND D21.LRRQ &lt; to_date(#{EndTime},'yyyy-mm-dd')+1
		</if>
		<if test="BT != null and BT !=''">
			AND D21.BT LIKE '%'||#{BT}||'%'
		</if>
		<if test="DDJ01_JFID != null and DDJ01_JFID !=''">
			AND D21_JS.DDJ01_JFID=#{DDJ01_JFID}
		</if>
		ORDER BY D21.LRRQ DESC
		) A1 WHERE ROWNUM &lt;=#{MAX}) WHERE RN>=#{MIN}
	</select>
	<!-- 根据条件获取集合 -->
	<select id="SelectAllCX" parameterType="String" resultMap="selall">
		SELECT
		D21.JFID,D21.BT,D21.NR,D21.LRRY,D21.LRRQ,D21_JS.ZT,D21.SF_ALL FROM DFW21
		D21,DFW21_JSR D21_JS WHERE D21.ZT=2
		AND D21.JFID=D21_JS.DFW21_JFID
		AND D21_JS.ZT=0
		AND D21_JS.DDJ01_JFID=#{0}
		ORDER BY D21.LRRQ DESC
	</select>
	<!-- 根据条件获取集合数量 -->
	<select id="getCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM DFW21 D21,DFW21_JSR D21_JS WHERE D21.ZT=2
		AND D21.JFID=D21_JS.DFW21_JFID
		<if test="StarTime != null and StarTime !=''">
			AND D21.LRRQ>=to_date(#{StarTime},'yyyy-mm-dd')
		</if>
		<if test="EndTime != null and EndTime !=''">
			AND D21.LRRQ &lt; to_date(#{EndTime},'yyyy-mm-dd')+1
		</if>
		<if test="BT != null and BT !=''">
			AND D21.BT LIKE '%'||#{BT}||'%'
		</if>
		<if test="DDJ01_JFID != null and DDJ01_JFID !=''">
			AND D21_JS.DDJ01_JFID=#{DDJ01_JFID}
		</if>
	</select>
	<!-- 获取新的jfid -->
	<select id="getJFID" resultType="String">
		SELECT SDFW02.NEXTVAL FROM DUAL
	</select>
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="DFW21">
		INSERT INTO DFW21
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''"> JFID,</if>
			<if test="BT != null and BT !=''"> BT,</if>
			<if test="NR != null and NR !=''"> NR,</if>
			<if test="LRRY != null and LRRY !=''"> LRRY,</if>
			LRRQ,
			<if test="ZT != null and ZT !=''"> ZT,  </if>
			<if test="SF_ALL != null and SF_ALL !=''"> SF_ALL,  </if>
		</trim>
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''">#{JFID,jdbcType=VARCHAR},</if>
			<if test="BT != null and BT !=''">#{BT,jdbcType=VARCHAR},</if>
			<if test="NR != null and NR !=''">#{NR,jdbcType=VARCHAR},</if>
			<if test="LRRY != null and LRRY !=''">#{LRRY,jdbcType=VARCHAR},</if>
			sysdate,
			<if test="ZT != null and ZT !=''">#{ZT,jdbcType=CHAR},</if>
			<if test="SF_ALL != null and SF_ALL !=''">#{SF_ALL,jdbcType=CHAR},</if>
		</trim>
	</insert>
	<!-- 插入接收人表 -->
	<insert id="insert_jsr" parameterType="DFW21_JSR">
		<selectKey resultType="String" order="BEFORE" keyProperty="JFID">
			SELECT SDFW21_JSR.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO DFW21_JSR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''"> JFID,</if>
			<if test="DFW21_JFID != null and DFW21_JFID !=''"> DFW21_JFID,</if>
			<if test="DDJ01_JFID != null and DDJ01_JFID !=''"> DDJ01_JFID,</if>
			<if test="ZT != null and ZT !=''"> ZT,</if>
			<if test="DDJ01_MC != null and DDJ01_MC !=''"> DDJ01_MC,  </if>
		</trim>
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''">#{JFID,jdbcType=VARCHAR},</if>
			<if test="DFW21_JFID != null and DFW21_JFID !=''">#{DFW21_JFID,jdbcType=VARCHAR},</if>
			<if test="DDJ01_JFID != null and DDJ01_JFID !=''">#{DDJ01_JFID,jdbcType=VARCHAR},</if>
			<if test="ZT != null and ZT !=''">#{ZT,jdbcType=CHAR},</if>
			<if test="DDJ01_MC != null and DDJ01_MC !=''">#{DDJ01_MC,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<!-- 插入图片 -->
	<insert id="insert_fj" parameterType="DFW21_FJ">
		<selectKey resultType="String" order="BEFORE" keyProperty="JFID">
			SELECT SDFW21_FJ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO DFW21_FJ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''"> JFID,</if>
			<if test="DFW21_JFID != null and DFW21_JFID !=''"> DFW21_JFID,</if>
			<if test="FJ != null and FJ !=''"> FJ,</if>
			<if test="WJM != null and WJM !=''"> WJM,</if>
		</trim>
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			<if test="JFID != null and JFID!=''">#{JFID,jdbcType=VARCHAR},</if>
			<if test="DFW21_JFID != null and DFW21_JFID !=''">#{DFW21_JFID,jdbcType=VARCHAR},</if>
			<if test="FJ != null and FJ !=''">#{FJ,jdbcType=VARCHAR},</if>
			<if test="WJM != null and WJM !=''">#{WJM,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<!-- 根据ID查询数据 -->
	<select id="SelectByID" parameterType="String" resultType="DFW21">
		SELECT JFID,BT,NR,LRRY,LRRQ,ZT,SF_ALL FROM DFW21 WHERE ZT!=0 AND
		JFID=#{0}
	</select>
	<!-- 根据组织查询返回集合 -->
	<resultMap type="DFW21_JSR" id="seljsr">
		<id property="JFID" column="JFID" />
		<result property="DFW21_JFID" column="DFW21_JFID" />
		<result property="DDJ01_JFID" column="DDJ01_JFID" />
		<result property="ZT" column="ZT" />
		<result property="DDJ01_MC" column="DDJ01_MC" />
	</resultMap>
	<!-- 根据父id获取对应集合 -->
	<select id="SelectByDFW21_JFID_JSR" parameterType="map"
		resultMap="seljsr">
		SELECT JFID,DFW21_JFID,DDJ01_JFID,ZT,DDJ01_MC FROM DFW21_JSR WHERE 1=1
		<if test="DFW21_JFID != null and DFW21_JFID !=''">
			AND DFW21_JFID=#{DFW21_JFID}
		</if>
		ORDER BY JFID
	</select>
	<!-- 根据组织查询返回集合 -->
	<resultMap type="DFW21_FJ" id="selfj">
		<id property="JFID" column="JFID" />
		<result property="DFW21_JFID" column="DFW21_JFID" />
		<result property="FJ" column="FJ" />
		<result property="WJM" column="WJM" />
	</resultMap>
	<!-- 根据父id获取对应集合 -->
	<select id="SelectByDFW21_JFID_FJ" parameterType="map"
		resultMap="selfj">
		SELECT JFID,DFW21_JFID,FJ,WJM FROM DFW21_FJ WHERE 1=1
		<if test="DFW21_JFID != null and DFW21_JFID !=''">
			AND DFW21_JFID=#{DFW21_JFID}
		</if>
	</select>
	<!-- 根据ID删除一条附件数据 -->
	<delete id="del_fj" parameterType="String">
		DELETE FROM DFW21_FJ WHERE
		JFID=#{0}
	</delete>
	<!-- 更新数据 -->
	<update id="update" parameterType="DFW21">
		UPDATE DFW21
		<trim prefix=" SET " suffixOverrides=",">
			<if test="BT != null and BT !=''"> BT=#{BT},</if>
			<if test="NR != null and NR !=''"> NR=#{NR},</if>
			<if test="ZT != null and ZT !=''"> ZT=#{ZT},</if>
			<if test="SF_ALL != null and SF_ALL !=''"> SF_ALL=#{SF_ALL},</if>
		</trim>
		WHERE JFID=#{JFID}
	</update>
	<!-- 更新数据 -->
	<update id="upjsr" parameterType="DFW21_JSR">
		UPDATE DFW21_JSR
		<trim prefix=" SET " suffixOverrides=",">
			<if test="ZT != null and ZT !=''"> ZT=#{ZT},</if>
		</trim>
		WHERE DFW21_JFID=#{DFW21_JFID} AND DDJ01_JFID=#{DDJ01_JFID}
	</update>
	<!-- 根据父ID删除数据 -->
	<delete id="del_fj_f" parameterType="String">
		DELETE FROM DFW21_FJ WHERE
		DFW21_JFID=#{0}
	</delete>
	<!-- 根据父ID删除数据 -->
	<delete id="del_jsr_f" parameterType="String">
		DELETE FROM DFW21_JSR WHERE
		DFW21_JFID=#{0}
	</delete>
	<!-- 根据父ID删除数据 -->
	<delete id="del" parameterType="String">
		DELETE FROM DFW21 WHERE JFID=#{0}
	</delete>
</mapper>